body{
	margin:0;
	padding: 0;
}

a{	
	padding-top:10px;
	text-align: center;
	font-size:auto;
	margin:5px;
	display: inline-block;
	margin-top: 20px;
	color: #e62e00;
	text-decoration: none;
}

.left_colum{
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 30%;
	height: 100%;
	border-right:3px dashed #e62e00 ;
}

.logout{
	margin-top: 60%;
	background-color:inherit;
	text-indent:-9999px;
	line-height:0;
	border:0;
	border-radius: 40%; 
	background-image: url(../../images/def/exit.png);
	background-size: cover;
	height:60px;
	width:60px;
	cursor:pointer;
}
.logout:hover{
	box-shadow: 0 0 30px 30px #e62e00;
}
.add{
	width: 80%;
	min-height: 50px;
	max-height: 90px;
	border: 1px solid #e62e00;
}
.add:hover{
	background-color: #e62e00;
	color:white;
}
.right_colum{
	color:white;
	text-align: center;
	position: fixed;
	right:0;
	top: 0;
	width: 70%;
	height: 100%;
}

@media screen and (max-width: 500px) {
 	a{
 		font-size:0.7em;
 	}

 	.logout{
 		margin-top: 90%;
 	}
}

.right_colum_wrapper{
	text-align: center;
	width: 98%;
	height: 320px;
	margin:5px auto;
}

.add_input{
	text-align: center;
	border: 1px solid #e62e00;
	width: 120px;
	height: 25px;
	margin-top: 10px;
}

.selected{
	background-color: #e62e00;
	color:white;
	width: 80%;
	min-height: 50px;
	max-height: 90px;
	border: 1px solid #e62e00;
}

.add_about{
	text-align: center;
	border: 1px solid #e62e00;
	width: 120px;
	height: 150px;
	margin-top: 10px;
}

.text_org{
	color:#e62e00;
}

.add_item{
	margin-top: 10px;
	width: 140px;
	height: 30px;
	background-color: #e62e00;
	color: white;
}
.add_item:hover{
	border: 1px solid #e62e00;
	color:#e62e00;
	background-color:white;
}


select{
	background-color: #e62e00;
	color:white;
	border: 1px solid #e62e00;
}
