body{
	margin:0;
	padding: 0;
}

a{	
	padding-top:10px;
	text-align: center;
	font-size:auto;
	margin:5px;
	display: inline-block;
	margin-top: 20px;
	color: #e62e00;
	text-decoration: none;
}

.left_colum{
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 30%;
	height: 100%;
	border-right:3px dashed #e62e00 ;
}

.logout{
	margin-top: 60%;
	background-color:inherit;
	text-indent:-9999px;
	line-height:0;
	border:0;
	border-radius: 40%; 
	background-image: url(../../images/def/exit.png);
	background-size: cover;
	height:60px;
	width:60px;
	cursor:pointer;
}
.logout:hover{
	box-shadow: 0 0 30px 30px #e62e00;
}
.add{
	width: 80%;
	min-height: 50px;
	max-height: 90px;
	border: 1px solid #e62e00;
}
.add:hover{
	background-color: #e62e00;
	color:white;
}
.right_colum{
	color:white;
	text-align: center;
	position: fixed;
	right:0;
	top: 0;
	width: 70%;
	height: 100%;
}

@media screen and (max-width: 500px) {
	.wellcome_rabota{
	color: #e62e00;
	font-size: 10px;
	}
 	a{
 		font-size:0.7em;
 	}

 	.logout{
 		margin-top: 90%;
 	}
 	.wellcome_text{
	color: #e62e00;
	font-size: 10vw;
	}
}

.wellcome{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
}
.well_img{
	margin:30px auto;
	width: 200px;
	height: auto;
}
.well_img img{
	width: 100%;
	height: 100%;
}

.wellcome_text{
	color: #e62e00;
	font-size: 7vw;
}
.wellcome_rabota{
	color: #e62e00;
	font-size: 5vw;
}